%h1 Homework listing
= link_to 'Add your homework', "/editor/pages/new", id: "new_page", class: "btn btn-primary", data: { save_url: mercury_new_path }
%br
%br


- @pages.each do |page|
  .panel.panel-primary
    .panel-heading
      %b Title:
      = page.title.html_safe
    .panel-body
      = page.content.html_safe
    = link_to "Mark HW", "/editor" + "/pages/#{page.id}", id: "edit_link", class: "btn btn-success", data: { save_url: mercury_update_path(page) }
    = link_to 'Delete', page, class: "btn btn-danger",  :method => :delete, :data => { :confirm => 'Are you sure?' }
    %br


